@{
    Layout = "_Layout";
}
@model TheWall.Models.MyContext

@{
    List<Message> allmessages = Model.Messages
            .Include(m=>m.CommentsForMessage)
            .OrderByDescending(m=>m.CreatedAt)
            .ToList();
}
<a class="btn btn-success text-white" onclick="showModal('/newmessagepartial', 'New Message')">New Message</a>

<partial name="_Modal"/>

<div id="show-message">
    <partial name="_ShowMessage" model="allmessages"/>

</div>

